@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        background-image: none;
        background-image: url(image/Star2..png), url(image/Star3..png), url(image/Star4..png), url(image/Star5..png), url(image/Vector..png);
        background-repeat: no-repeat;
        background-position: 37px 97px, 91px 64px, 303px 580px, 272px 557px, 187px -103px;
        height: 649px;

        &__content {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__heading {
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            padding-top: 147px;
            max-width: 262px;
        }
        &__text {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            width: 296px;
            padding-bottom: 36px;
            max-width: 296px;
        }
        &__button {
            font-size: 16px;
            padding: 16px 103px;
        }
    }

    .animated-strip {
        height: 51px;
        gap: 27px;

        &__item {
            gap: 27px;
        }
        &__text {
            font-size: 16px;
        }
        &__star {
            display: none;
        }
        &__mobile {
            display: flex;
            align-items: center;
        }
    }

    .content-box {
        display: none;
    }

    .game-box {
        background-image: none;
        padding-bottom: 48px;
        &__title {
            font-size: 40px;
            line-height: 49px;
            padding-top: 48px;
            padding-bottom: 48px;
        }
        &__content {
            gap: 24px;
        }
        &__cart {
            display: block;
        }
        &__img {
            width: 343px;
            height: 284px;
        }
        &__description {
            padding: 29px;
        }
        &__product {
            padding-bottom: 16px;
        }
        &__text {
            font-size: 16px;
            line-height: 20px;
            padding-bottom: 32px;
        }
        &__button {
            padding: 16px 110px;
            font-size: 16px;
        }
    }

    .footer {
        height: 100px;

        &__text {
            font-size: 16px;
            line-height: 20px;
        }
    }
}
