@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .top {
        background-position: 63px 94px, 156px 69px, 850px 568px, 800px 538px, 599px -370px;
    }
    .game-box__img {
        height: 314px;
        width: 314px;
    }
    .game-box__description {
        padding: 30px;
    }
    .game-box__product {
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        padding-bottom: 18px;
    }
    .game-box__text {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-bottom: 24px;
    }
    .game-box__button {
        padding: 16px 60px;
    }
}

@media (min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }
    .top {
        background-position: 63px 94px, 156px 69px, 550px 600px, 500px 590px, 450px -370px;
    }
}