* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

button {
    cursor: pointer;
}

a {
    background-color: #FFFFFF;
}

h4 {
    position: relative;
}

h4>a::before {
    position: absolute;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background: #E1FF8F;
    background-image: url(image/star1.png), url(image/star2.png), url(image/starbig.svg);
    background-position: 63px 69px, calc(100% - 344px) calc(100% - 149px), calc(230% - 0px);
    background-repeat: no-repeat;
    overflow: hidden;
    max-width: 1440px;
    height: 800px;

    &__game {
        width: 769px;
        height: 358px;
        margin-top: 196px;
        margin-bottom: 156px;

        &_title {
            color: #202027;
            font-family: Montserrat;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-bottom: 24px;
        }

        &_text {
            color: #202027;
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            max-width: 720px;
            padding-bottom: 48px;

            &-bold {
                color: #202027;
                font-family: Montserrat;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 32px;
            }
        }

        &_btn {
            display: inline-block;
            width: 247px;
            height: 66px;
            border: 1px solid rgb(32, 32, 39);
            border-radius: 60px;
            background: rgb(32, 32, 39);
            color: #FFFFFF;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            font-family: "Montserrat";
            line-height: 62px;
        }
    }

    &__description {
        height: 90px;
        background: rgba(188, 236, 48, 1);
        overflow: hidden;

        &_block {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            border: 1px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(50px);
            animation: startLine 15s linear, marquee 15s linear 15s infinite;
            width: 3220px;
            padding-top: 27px;
            padding-right: 49px;
            padding-left: 49px;
            padding-bottom: 27px;


            &-text {
                font-family: "Montserrat";
                color: rgb(32, 32, 39);
                font-size: 30px;
                font-weight: 700;
                text-transform: uppercase;
                padding-right: 51px;
                padding-left: 51px;
            }

            &-star {
                width: 19px;
                height: 19px;
            }
        }
    }
}

a:hover {
    color: #000000;
}

@keyframes startLine {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.container {
    background: #202027;
    background-image: url("image/Star1.svg"), url("image/Star11.svg"), url("image/Star12.svg");
    background-position: calc(100% + 91px) 24px, calc(100% + -1355px) 700px, calc(100% + -1322px) 754px;
    background-repeat: no-repeat;

    &__games {
        padding-top: 94px;

        &_about {
            color: #FFF;
            font-family: Montserrat;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-bottom: 24px;
        }

        &_description {
            color: #FFFFFF;
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            max-width: 788px;
            padding-bottom: 72px;
        }

        &-card {
            max-height: 1060px;
            max-width: 1200px;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 32px;
            align-items: start;
        }

        &_mob {
            display: none;
        }
    }
}

.game-card {
    display: flex;
    flex-direction: column;
    grid-column: span 4;
    background-color: #FFFFFF;
    border-radius: 30px;
    transition: all 1s;
    text-decoration: none;

    &__image {
        border-radius: 30px;
        height: 314px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &_type_1 {
            background: url(image/card1.svg);
        }

        &_type_2 {
            background: url(image/card2.svg);
        }

        &_type_3 {
            background: url(image/card3.svg);
        }

        &_type_4 {
            background: url(image/card4.svg);
        }

        &_type_5 {
            background: url(image/card5.svg);
        }

        &_type_6 {
            background: url(image/card6.svg);
        }
    }

    &--top {
        margin-top: -40px;
    }

    &__number {
        width: 111px;
        height: 36px;
        color: rgb(32, 32, 39);
        font-size: 16px;
        font-weight: 500;
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 13px;
        margin-left: 32px;
        margin-bottom: 10px;
    }

    &__text {
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        text-align: left;
        padding: 0 38px 32px;
    }

    &__about {
        display: none;
    }

    &__btn {
        display: none;
    }
}

.game-card:hover {
    transform: scale(1.10);
}

.mini {
    background: #202027;
    background-image: url("image/Star1.svg"), url("image/Star11.svg"), url("image/Star12.svg");
    background-position: calc(100% + 91px) 24px, calc(100% + -1355px) 700px, calc(100% + -1322px) 754px;
    background-repeat: no-repeat;

    &__games {
        padding-bottom: 72px;

        &_title {
            font-family: Montserrat;
            font-weight: 700;
            font-size: 64px;
            line-height: 78.02px;
            color: #FFFFFF;
            margin-bottom: 72px;
        }

        &_card {
            
            &-catalogy {
                background: #FFFFFF;
                border-radius: 30px;
                display: flex;
                height: 500px;
                margin-bottom: 32px;
            }

            &-catalogyleft {
                padding-top: 48px;
                width: 600px;
                padding-left: 48px;
            }
        }

        &_text {
            font-family: Montserrat;
            font-weight: 700;
            font-size: 48px;
            line-height: 58.51px;
            padding-bottom: 24px;
        }

        &_about {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            padding-bottom: 36px;
            width: 457px;
        }

        &_btn{
            cursor: pointer;
            display: inline-block;
            width: 247px;
            height: 66px;
            border: 1px solid rgb(32, 32, 39);
            border-radius: 60px;
            background: rgb(32, 32, 39);
            color: #FFFFFF;
            font-family: Montserrat;
            font-weight: 600;
            font-size: 24px;
            line-height: 34.01px;
            text-align: center;
            padding-top: 16px;
        }

        &_img {
            height: 500px;
        }
    }
}

.footer{
    height: 150px;
    background: #BDED35;

    &_text{
        font-family: Montserrat;
        font-weight: 600;
        font-size: 24px;
        line-height: 29.26px;
        text-align: center;
        padding-top: 61px;
    }
}

@import 'mobile';